[Unit]
Description=Data producer service

[Service]
ExecStart=/home/dinomite/rpi-data-producer/temp-http-server.py
Restart=always
RestartSec=10
StartLimitInterval=4
User=dinomite

[Install]
WantedBy=multi-user.target

