[Unit]
Description=Data producer service

[Service]
ExecStart=/home/pi/rpi-data-producer/temp-http-server.py
Restart=always
RestartSec=10
StartLimitInterval=4

[Install]
WantedBy=multi-user.target

